.card{
    list-style-type: none;
    background-color: white;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    height:320px;
    margin:2px;
}

img{
    height:200px;
    width:200px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}